*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
   width: 100%;
   min-height: 100vh;
   background: linear-gradient(135deg, #153677, #eb2727);
   padding: 10px;
}
.chooseTab{
   background-color: rgb(175, 175, 175);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
}
.tudu{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.tudu h2{
    color:#002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.tudu h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
.tabButton {
    padding: 10px 20px;
    background-color: #ff4e57;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}
.tabButton:hover {
    background-color: #ee8181;
}
.tabContent {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(imagens/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;   
}
ul li.checked::before{
    background-image: url(imagens/checked.png);
}
ul li span{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-left: auto;
}
ul li span:hover{
    background: #edeef0;
}
.edit-button {
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-left: 10px;
}
.edit-button:hover {
    background-color: #0056b3; 
}